<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Настройка рутера ASUS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
   <h3> Настройка рутера ASUS</h3>
   <ol id="instr-list">
    <li>
      <div class="instr-list_item-description-no-image float-left float-not-in-tbl">
        Зайдите в настройки роутера в браузере по адресу <a href="http://192.168.1.1" target="_blank">192.168.1.1</a>.
      </div>
    </li>
    <li>
      <div class="instr-list_item-description-no-image float-left float-not-in-tbl">
        Введите стандартный логин и пароль, указанный в инструкции к роутеру (либо на оборотной стороне самого роутера).
      </div>
    </li>
    <li>
      <div class="instr-list_item-description float-left float-not-in-tbl">
  Убедитесь, что включён режим «Беспроводной роутер».
      </div>
      <img src="/files/161/7_001.jpg" class="float-right float-not-in-tbl link-img-mb">
    </li>
    <li>
      <div class="instr-list_item-description float-left float-not-in-tbl">
  Зайдите в раздел «Интернет» и убедитесь, что указан тип WAN-подключения «Автоматический IP». Все остальные настройки должны соответствовать приведённому ниже скриншоту.
      </div>
      <img src="/files/161/7_002.jpg" class="float-right float-not-in-tbl link-img-mb">
    </li>
    <li>
      <div class="instr-list_item-description float-left float-not-in-tbl">
  Для настройки беспроводной сети зайдите в раздел «Беспроводная настройка», в поле «SSID» укажите название вашей сети (только латинскими буквами), в поле «Метод проверки подлинности» выберите тип шифрования «WPA2-Personal», а в поле «Предварительный ключ WPA» напишите пароль, который может содержать латинские буквы и цифры. Нажмите «Применить».
      </div>
      <img src="/files/161/7_003.jpg" class="float-right float-not-in-tbl link-img-mb">
    </li>
    <li>
      <div class="instr-list_item-description float-left float-not-in-tbl">
  Для настройки работы IP-TV зайдите в раздел «Локальная сеть». Перейдите на вкладку «IPTV» и укажите значения в разделах так, как показано на скриншоте. Обратите внимание, что в разделе «Выбор порта IPTV STB» указывается тот Lan-порт, к которому подключается ТВ-приставка.
      </div>
      <img src="/files/161/7_004.jpg" class="float-right float-not-in-tbl link-img-mb">
    </li>
  </ol>

</body>
</html>