<!DOCTYPE html>
{% load static %}
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>TP-Link</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'css/demo.css' %}">
	<link rel="stylesheet" href="{% static 'css/fakeLoader.min.css' %}">
</head>
<body>
    
	<header>
		<div class="fakeloader"></div>
		<div id="mySidepanel" class="sidepanel">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="login">Profile</a>
			<a href="forum">Forums</a>
			<a href="faq">FAQ</a>
		</div>

		<button class="openbtn" onclick="openNav()">&#9776;</button>

		<script>
			function openNav() {
				document.getElementById("mySidepanel").style.width = "175px";
			}

			/* Установите ширину боковой панели в 0 (скройте ее) */
			function closeNav() {
				document.getElementById("mySidepanel").style.width = "0";
			}

		</script>

		<div class="head">
			<ul class="nav nav-pills">
				<li class="nav-item">
					{% url 'home' as url_home %}

					<a class="nav-link {% if url_home == request.path %}active{% endif %}" href="{{url_home}}">Главная</a>
				</li>
				<li class="nav-item">
					{% url 'forum' as url_forum %}
					<a class="nav-link {% if url_forum == request.path %}active{% endif %}" href="{{url_forum}}">Форумы</a>
				</li>


				{% if request.user.is_authenticated %}
				<li class="nav-item">
					{% url 'logout_page' as url_logout_page %}

					<a class="nav-link" href="{{url_logout_page}}">Выйти</a>
				</li>
				{% else %}
				<li class="nav-item">
					{% url 'login_page' as url_login_page %}
					<a class="nav-link {% if url_login_page == request.path %}active{% endif %}" href="{{url_login_page}}">Авторизация</a>
				</li>
				<li class="nav-item">
					{% url 'register_page' as url_register_page %}

					<a class="nav-link {% if url_register_page == request.path %}active{% endif %}" href="{{url_register_page}}">Регистрация</a>
				</li>

				{% endif %}
				{{request.user}}
			</ul>
		</div>

		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'js/fakeLoader.min.js' %}"></script>
		<script>
			$(document).ready(function() {
				$.fakeLoader({
					timeToHide: 1200,
					bgColor: "#1abc9c",
					spinner: "spinner6"
				});
			});

		</script>
	</header>
<main class="main2">
    <h2>Настройка роутера TPLink</h2>
    <p>Непосредственная гармонизация настроек роутер и компьютера происходит через браузер Internet Explorer.</p>
    <p><img alt="" src="https://setevuha.ua/uploads/images/products/thumbs/608x300/20452_37678.jpg" style="width:375px;height:267px;">Сделайте так:</p>
    <ol>
        <li>В адресной строке введите <a href="https://setevuha.ua/posts/wifi-routery/192-168-1-1-vhod-v-sistemu-routera/"><strong>192.168.1.1</strong></a> или <strong>192.168.0.1</strong>.</li>
        <li>В возникшем запросе имени администратора и пароля впишите стандартные admin в оба поля.</li>
        <li>Укажите быструю настройку (Quick Setup) перейдите на страничку. Далее все операции подтверждайте, нажимая NEXT.</li>
    </ol>
    <p><img alt="" src="https://setevuha.ua/assets/images/d7/d7462e6d1d0d7085e70563678e75670e.jpg" style="width:350px;height:249px;"></p>
    <p><img alt="" src="https://setevuha.ua/assets/images/b1/b154b1bcd924eebbe8a7c7ce761913ec.jpg" style="width:600px;height:278px;"></p>
    <p>На странице установок выберите из списка, по какому протоколу будете настраивать роутер:</p>
    <h2>Dynamic&nbsp;IP – автоматические сетевые настройки провайдера по DHCP</h2>
    <ul>
        <li>если выбрали Dynamic IP, то придется ввести полное название устройства (SSID), WPA-PSK/WPA2-PSK в строке Wireless Security, придумать восьмизначный пароль;</li>
    </ul>
    <p style="margin-left:18pt;"><img alt="" src="https://setevuha.ua/assets/images/cc/ccba73ba2d1e28e9d95a0c8df5dea6a7.jpg" style="width:600px;height:264px;"></p>
    <p style="margin-left:18pt;"><img alt="" src="https://setevuha.ua/assets/images/15/15e3231beaa51da87642be23fe057645.jpg" style="width:600px;height:453px;"></p>
    <p style="margin-left:18pt;"><img alt="" src="https://setevuha.ua/assets/images/97/975a8c6407db273d828b2e1ea21bb916.jpg" style="width:400px;height:106px;"></p>
    <p style="margin-left:18pt;">Static IP – Статические сетевые настройки провайдера</p>
    <ul>
        <li>если <strong>Static IP</strong>, то понадобится все выше перечисленное, плюс к этому переписанный со страницы «Свойства» «Протокола Интернет» числовые коды IP-адреса, маски подсети, основного канала, DNS-сервера альтернативного и выбранного;</li>
    </ul>
    <p style="margin-left:18pt;"><img alt="" src="https://setevuha.ua/assets/images/be/be7a245726c4e3093aaf359c30a31801.jpg" style="width:600px;height:264px;"></p>
    <p style="margin-left:18pt;"><img alt="" src="https://setevuha.ua/assets/images/72/72eae7e07f154481cd0137d57a3d3dad.jpg" style="width:320px;height:202px;"></p>
    <p style="margin-left:18pt;"><img alt="" src="https://setevuha.ua/assets/images/e6/e6f020a9e94ddb952aefbbd5bade96eb.jpg" style="width:600px;height:453px;"></p>
    <p style="margin-left:18pt;"><img alt="" src="https://setevuha.ua/assets/images/fd/fda473d8c730407c73d2157cabdb485b.jpg" style="width:400px;height:126px;"></p>
    <h2>Настройка безопасности роутера</h2>
    <p>Чтобы исключить внешнее влияние на параметры работы маршрутизатора, смените пароль на вход. Сделать это можно через опцию <strong>System Tools</strong><strong> </strong>в меню. За этой командой закреплено изменение пароля (Password). Перейдите по ссылке на страницу и выполните простые действия: введите построчно предыдущее имя администратора, предыдущий пароль, измененное имя и пароль, подтверждение измененного ключа безопасности. Не забудьте сохранить настройки, нажмите Save.</p>
    <p><img alt="" src="https://setevuha.ua/assets/images/72/72f86e46b05768bf34d44fe68d66df42.jpg" style="width:600px;height:313px;"></p>
    <p><img alt="" src="https://setevuha.ua/assets/images/07/0778f9ae70bb67918720cc3774dd5934.jpg" style="width:442px;height:205px;"></p>



</main>

</body>
</html>