<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Set Up Tp-Link</title>
</head>
<body>
Шаг 1 Откройте браузер и в адресной строке укажите IP-адрес устройства (по умолчанию - 192.168.1.1). Нажмите кнопку Enter (Ввод).

Шаг 2 В окне входа в систему введите имя пользователя и пароль. По умолчанию имя пользователя и пароль admin.  Нажмите кнопку OK.

Шаг 3 В левой части окна выберите Quick Setup (Быстрая настройка)
Шаг 5 Выберите PPP over Ethernet (PPPoE) и нажмите кнопку Next (Далее).
Шаг 6 Введите имя пользователя и пароль учетной записи PPPoE (данная информация предоставляется поставщиком Интернет-услуг) и нажмите кнопку Next (Далее) . Если вы хотите, чтобы подключение было постоянным, не включайте функцию "Dial on demand" (Набор по требованию).
Шаг 7  Нажмите кнопку Next (Далее).


Шаг 8 Проверьте настройки IP и DHCP и нажмите кнопку Next (Далее).


Шаг 9 Если ваш ADSL маршрутизатор поддерживает беспроводную передачу данных, и вы хотите установить беспроводное подключение, выберите Enable Wireless (Включить беспроводной режим) и нажмите кнопку Next (Далее).


Шаг 10 Нажмите кнопку Save/Reboot (Сохранить/Перезагрузить), маршрутизатор сохранит измененные настройки и после перезагрузки произведет подключение к Интернет.

</body>
</html>