<!DOCTYPE html>
{% load static %}
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>FastWiFi</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'css/demo.css' %}">
	<link rel="stylesheet" href="{% static 'css/fakeLoader.min.css' %}">
</head>
<body>
    
	<header>
		<div class="fakeloader"></div>
		<div id="mySidepanel" class="sidepanel">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="login">Profile</a>
			<a href="forum">Forums</a>
			<a href="faq">FAQ</a>
		</div>

		<button class="openbtn" onclick="openNav()">&#9776;</button>

		<script>
			function openNav() {
				document.getElementById("mySidepanel").style.width = "175px";
			}

			/* Установите ширину боковой панели в 0 (скройте ее) */
			function closeNav() {
				document.getElementById("mySidepanel").style.width = "0";
			}

		</script>

		<div class="head">
			<ul class="nav nav-pills">
				<li class="nav-item">
					{% url 'home' as url_home %}

					<a class="nav-link {% if url_home == request.path %}active{% endif %}" href="{{url_home}}">Главная</a>
				</li>
				<li class="nav-item">
					{% url 'forum' as url_forum %}
					<a class="nav-link {% if url_forum == request.path %}active{% endif %}" href="{{url_forum}}">Форумы</a>
				</li>


				{% if request.user.is_authenticated %}
				<li class="nav-item">
					{% url 'logout_page' as url_logout_page %}

					<a class="nav-link" href="{{url_logout_page}}">Выйти</a>
				</li>
				{% else %}
				<li class="nav-item">
					{% url 'login_page' as url_login_page %}
					<a class="nav-link {% if url_login_page == request.path %}active{% endif %}" href="{{url_login_page}}">Авторизация</a>
				</li>
				<li class="nav-item">
					{% url 'register_page' as url_register_page %}

					<a class="nav-link {% if url_register_page == request.path %}active{% endif %}" href="{{url_register_page}}">Регистрация</a>
				</li>

				{% endif %}
				{{request.user}}
			</ul>
		</div>

		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'js/fakeLoader.min.js' %}"></script>
		<script>
			$(document).ready(function() {
				$.fakeLoader({
					timeToHide: 1200,
					bgColor: "#1abc9c",
					spinner: "spinner6"
				});
			});

		</script>
	</header>
<main>
    <div id="internet_block_tarifi_internet">
        <div id="tarifs">
    <div class="tarifs_box">
<div id="static_page" class="main_block_box only_desk_text_main">        
<div class="main_block" style="border: 1px solid #b9b9b9;border-radius: 5px;">            
<div class="static_page_box">
<h1 class="title_main_text">Инструкция по настройке роутера Netis</h1>
<p>1) Входим в настройки Вашего роутера:</p>
<ul>
<li>Заходим на web-интерфейс роутера, набрав в адресной строке браузера 192.168.1.1</li>
<li>Так же, роутер отзывается и на хостнейм netis.cc.</li>
<li>В поле Имя пользователя пишем логин, по-умолчанию admin В поле Пароль пишем пароль, по-умолчанию admin</li>
<li>Жмём кнопку Вход</li>
</ul>
<p>2) Вверху на кнопке Select Language, выбираем язык Русский.</p>
<p><img src="{% static 'images/netis1.png' %}" alt="" width="1236" height="891"></p>
<p><span>3) Настраиваем подключение к интернету:</span></p>
<ul>
<li>Тип подключения к Интернету, ставим точку DHCP</li>
</ul>
<p><span><img src="{% static 'images/netis2.png' %}" alt="" width="1236" height="896"></span></p>
<p>&nbsp;</p>
<p><span>4) Настраиваем Wi-Fi (Беспроводную связь)</span></p>
<ul>
<li>В поле SSID, пишем как будет называться роутер в сети.</li>
<li>Устанавливаем пароль на Wi-Fi.</li>
<li>В поле безопасность, ставим точку на "Вкл"&nbsp;</li>
<li>Далее в поле пароль, пишем 8 до 63 символов.</li>
<li>Нажимаем Сохранить.</li>
</ul>
<p><img src="{% static 'images/netis3.png' %}" alt="" width="1230" height="889"></p>
<p><span>Настройка завершена!</span></p>

<div class="clear"></div>            </div>    </div></div>

</div></div></div>
<a class="btn1 {% if hyaweilow == request.path %}active{% endif %}" href="https://youtu.be/xvE6skdQ6dg">Netis</a>	
    </main>
</body>
</html>