<!DOCTYPE html>
{% load static %}
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>FastWiFi</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'css/demo.css' %}">
	<link rel="stylesheet" href="{% static 'css/fakeLoader.min.css' %}">
</head>

<!--[if lt IE 7]>
    <![endif]-->

</head>

<body>
	<header>
		<div class="fakeloader"></div>
		<div id="mySidepanel" class="sidepanel">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="usr">Profile</a>
			<a href="forum">Forums</a>
			<a href="faq">FAQ</a>
		</div>

		<button class="openbtn" onclick="openNav()">&#9776;</button>

		<script>
			function openNav() {
				document.getElementById("mySidepanel").style.width = "175px";
			}

			/* Установите ширину боковой панели в 0 (скройте ее) */
			function closeNav() {
				document.getElementById("mySidepanel").style.width = "0";
			}

		</script>

		<div class="head">
			<ul class="nav nav-pills">
				<li class="nav-item">
					{% url 'home' as url_home %}

					<a class="nav-link {% if url_home == request.path %}active{% endif %}" href="{{url_home}}">Главная</a>
				</li>
				<li class="nav-item">
					{% url 'edit_page' as url_edit_page %}
					<a class="nav-link {% if url_edit_page == request.path %}active{% endif %}" href="{{url_edit_page}}">Создание/ред/удал</a>
				</li>
				<li class="nav-item">
					{% url 'forum' as url_forum %}
					<a class="nav-link {% if url_forum == request.path %}active{% endif %}" href="{{url_forum}}">Форумы</a>
				</li>


				{% if request.user.is_authenticated %}
				<li class="nav-item">
					{% url 'logout_page' as url_logout_page %}

					<a class="nav-link" href="{{url_logout_page}}">Выйти</a>
				</li>
				{% else %}
				<li class="nav-item">
					{% url 'login_page' as url_login_page %}
					<a class="nav-link {% if url_login_page == request.path %}active{% endif %}" href="{{url_login_page}}">Авторизация</a>
				</li>
				<li class="nav-item">
					{% url 'register_page' as url_register_page %}

					<a class="nav-link {% if url_register_page == request.path %}active{% endif %}" href="{{url_register_page}}">Регистрация</a>
				</li>

				{% endif %}
				{{request.user}}
			</ul>
		</div>

		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static 'js/fakeLoader.min.js' %}"></script>
		<script>
			$(document).ready(function() {
				$.fakeLoader({
					timeToHide: 1200,
					bgColor: "#1abc9c",
					spinner: "spinner6"
				});
			});

		</script>
	</header>
	<main>
		<style>
			.btn {
			 display: inline-block; /* Строчно-блочный элемент */
			 background: #007bff; /* Серый цвет фона */
			 color: #fff; /* Белый цвет текста */
			 padding: 1rem 1.5rem; /* Поля вокруг текста */
			 text-decoration: none; /* Убираем подчёркивание */
			 border-radius: 3px; /* Скругляем уголки */
			 left: 960px;
			 top: 420px;
			}
		   </style>
		   <div>
		{% url 'start_inst' as url_start_1 %}

		<a class="btn {% if url_start_1 == request.path %}active{% endif %}" href="{{url_start_1}}">Начнем</a>
		</div>
		<div class="news1">

		</div>
		<div class="news2">

		</div>
		<div class="news3">

		</div>
	</main>
	<footer>

	</footer>




	<div class="fakeLoader"></div>
</body>

</html>
