


#section-navigation {
	position: relative;
	margin-top: 100px;
}
.selector1{
	width: 300px;
	height: 400px;
	border-style: solid 1px;
	border-color: #007bff;
	margin-left:960px;
}
.btn1 {
	display: inline-block; /* Строчно-блочный элемент */
	background: #007bff; /* Серый цвет фона */
	color: #fff; /* Белый цвет текста */
	padding: 1rem 1.5rem; /* Поля вокруг текста */
	text-decoration: none; /* Убираем подчёркивание */
	border-radius: 30px; /* Скругляем уголки */
	left: 960px;
	top: 420px;
	text-decoration: none;
	margin-left:960px;
	margin-top: 100px;
	
   }
   
.h1_1 {
	font-family: 'Play';
	margin-top: -1px;
}
.strt_btn{
width:400px;
margin-top:auto;
background-color: green;

}
main{
	width: 1920px;
	height: 1080px;
	position: center;
}
.news1{
width: 260px;
height: 440px;
left:200px;
border-style: solid;
border-color: #007bff;
padding: 5px;
margin-left: 320px;
margin-top: 320px;
text-align: center;
}
.news2{
	width: 260px;
	height: 440px;
	left:200px;
	border-style: solid;
	border-color: #007bff;
	padding: 5px;
	margin-left: 880px;
	margin-top: -440px;
	text-align: center;
}
.news3{
	width: 260px;
	height: 440px;
	left:200px;
	border-style: solid;
	border-color: #007bff;
	padding: 5px;
	margin-left: 1420px;
	margin-top: -440px;
	text-align: center;
}
.cl_border {
	width: 280px;
	height: 280px;
	

}
.nav-item-br1{
position: absolute;
left:40px;
margin:auto;
top:10px;
}
.bolder_ {
	position: absolute;
	width: 978.76px;
	height: 110.77px;
	left: 177.8px;
	top: 147.95px;
	border: 1px solid #c4c4c4;
	background: #fff;
}
.con_avt{
position: absolute;
width:100px;
height: 60px;
margin:auto;
}
.head {

	position: absolute;
	text-align: center;
	width: 100%;
	height: 50px;
	left: 50px;
	top: 0px;
	background: #fff;
}

.btn-white {
	font-family: 'Lato';
	font-weight: 999;
	min-width: 100px;
	background: transparent;
	outline: none;
	border: 1px solid #000;
	border-radius: 22px;
	padding: 10px;
	margin-right: 10px;
	margin-top: 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-goback {
	font-family: 'Lato';
	font-weight: 999;
	min-width: 100px;
	background: #eee;
	color: #000;
	outline: none;
	border: none;
	border-radius: 22px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-goback:hover {
	opacity: .8;
}


.btn-white:hover {
	background: #000;
	color: #fff;
	outline: none;
	border: 1px solid #000;
}

.btn-active {
	background: #000;
	color: #fff;
}

/*Carbon ads*/
#carbonads {
	--width: 300px;
	--font-size: 14px;
}


#carbonads {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	max-width: var(--width);
	border-radius: 4px;
	text-align: center;
	box-shadow: 0 0 0 1px hsla(0, 0%, 0%, .1);
	background-color: hsl(0, 0%, 98%);
	font-size: var(--font-size);
	line-height: 1.5;
	text-align: left;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 100px;
}

#carbonads a {
	color: inherit;
	text-decoration: none;
}

#carbonads a.carbon-img {
	float: left;
	padding: 0px;
	margin: 0px;
}

#carbonads a:hover {
	color: inherit;
}

#carbonads span {
	position: relative;
	display: block;
	overflow: hidden;
}

.carbon-img {
	display: block;
	margin-bottom: 8px;
	max-width: var(--width);
	line-height: 1;
}

.carbon-img img {
	display: block;
	margin: 0 auto;
	max-width: var(--width) !important;
	width: auto;
	height: 100px;
	float: left;
}

.carbon-text {
	display: block;
	padding: 0px;
	padding-left: 137px;
	padding-right: 4px;
	padding-top: 10px;
	position: relative;
	font-size: 13px;
}

.carbon-poweredby {
	display: block;
	padding: 10px var(--font-size);
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 600;
	font-size: 9px;
	line-height: 0;
	color: #9a9a9a !important;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
	#carbonads {
		float: none;
		margin: 0 auto;
		max-width: 330px;
		margin-bottom: 30px;
	}

	#carbonads span {
		position: relative;
	}

	#carbonads > span {
		max-width: none;
	}

	.carbon-img {
		float: left;
		margin: 0;
	}

	.carbon-img img {
		max-width: 130px !important;
	}

	.carbon-text {
		float: left;
		margin-bottom: 0;
		padding: 8px 20px;
		text-align: left;
		max-width: calc(100% - 130px - 3em);
	}

	.carbon-poweredby {
		left: 130px;
		bottom: 0;
		display: block;
		width: 100%;
	}
}

.sidepanel {
	height: 100%;
	/* Укажите высоту */
	width: 0;
	/* 0 ширина-измените это с помощью JavaScript */
	position: fixed;
	/* Оставаться на месте */
	z-index: 1;
	/* Оставайтесь на вершине */
	margin-top: 49px;
	left: 0;
	border-radius: 10px;
	background-color: #007bff;
	/* Черный */
	overflow-x: hidden;
	/* Отключить горизонтальную прокрутку */
	padding-top: 60px;
	/* Поместите содержимое 60px сверху */
	transition: 0.5s;
	/* 0.5 секунды эффект перехода для скольжения в боковой панели */
}

/* Боковая панель ссылок */
.sidepanel a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.3s;
}

/* При наведении курсора мыши на навигационные ссылки измените их цвет */
.sidepanel a:hover {
	color: #f1f1f1;
}

/* Положение и стиль кнопки закрытия (верхний правый угол) */
.sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Стиль кнопка, которая используется для открытия боковой панели */
.openbtn {
	font-size: 20px;
	cursor: pointer;
	margin-top: 0px;
	top: 200px;
	left:20px;
	background-color: #007bff;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #010bff;
}
